# Ignorar dependencias pesadas
node_modules/
frontend-peliculas/node_modules/

# Ignorar carpetas temporales de Angular
.angular/
dist/

# Ignorar carpetas de configuración de VS Code
.vscode/

# Ignorar archivos temporales de sistema
.DS_Store
Thumbs.db